ul.upcoming_events{list-style:none}
ul.upcoming_events li:first-child{margin-top:3px}
ul.upcoming_events li {padding:5px;font-size:11px;margin-top:1px;cursor:pointer}
ul.upcoming_events li strong{font-size:14px}
.round5{padding:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#aec-container{position:relative;float:none}
#aec-calendar{font-size:12px;line-height:16px}
#aec-calendar table{float:left;border:0 !important;margin:0 !important}
#aec-calendar td{padding:0 !important}
#aec-header{width:100%;clear:both;padding:0;margin-bottom:0}
#aec-menu{float:left;padding:10px 0;}
#aec-filter{float:right;font-size:12px;padding:10px 0;margin:0}
#aec-filter li{background:none;list-style:none!important;float:left;padding:0 0 0 4px;margin:0}
#aec-filter li:first-child{font-size:14px;padding:3px 4px 3px 0;font-weight:bold}
#aec-filter a{padding:3px 8px;line-height:20px;cursor:pointer;display:block;text-decoration:none}
#aec-filter a.all,#aec-filter a.all:visited,#aec-filter a.all:active,#aec-filter a.all:hover{background:#000;color:#ddd}
#aec-modal{display:none}
#aec-modal-overlay{background-color:#000}
#aec-modal-container{text-align:left;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-moz-box-shadow:0 0 64px #000;-webkit-border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;-webkit-box-shadow:0 0 64px #000;background-color:#eee;border-radius:0 0 6px 6px;box-shadow:0 0 64px #000;color:#333;font:16px/24px "Lucida Grande",Arial,sans-serif;padding-bottom:4px;width:600px}
#aec-modal-container .aec-title{background-color:#ddd;border-bottom:1px solid #ccc;color:#000;font-weight:700;padding:6px 8px;text-shadow:0 1px 0 #f4f4f4}
#aec-modal-container .close{display:none;position:absolute;right:0;top:0}
#aec-modal-container .close a{color:#666;display:block;font-weight:700;padding:6px 12px 0;text-decoration:none;text-shadow:0 1px 0 #f4f4f4}
#aec-modal-container .close a:hover{color:#000}
#aec-modal-container .aec-content{padding:0 12px}
#aec-modal-container h3{font-size:14px;font-weight:bold;margin:0;padding-top:10px}
#aec-modal-container p{font-size:12px;margin-bottom:10px}
#aec-modal span.duration{background:#ddd;font-size:11px;float:right;padding:1px 10px;color:#333}
#aec-modal-container span.duration-message{padding-left:5px;font-size:.9em}
#aec-modal hr{margin:10px 0;padding:0}
#aec-modal li.presented{font-size:11px;padding-top:5px;margin-top:5px;border-top:1px solid #ddd}
#aec-modal a{text-decoration:none;font-weight:bold}
#aec-modal a.link:hover,#aec-modal a.maplink:hover{-moz-box-shadow:0 0 4px #000;-webkit-box-shadow:0 0 4px #000;box-shadow:0 0 4px #000}
#aec-modal a.maplink{font-size:12px;float:right;padding:2px 10px}
#aec-modal a.link{font-size:14px;position:absolute;padding:5px 10px;bottom:0;right:10px;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0}

#aec-credit{visibility:hidden;position:absolute;height:1px;width:1px;overflow:hidden;top:-999px}
.fc{direction:ltr;text-align:left}
.fc table{border-collapse:collapse;border-spacing:0}
html .fc,.fc table{font-size:1em}
.fc td,.fc th{padding:0 !important;vertical-align:top}
.fc-header td{white-space:nowrap;border:0 !important}
.fc-header-left{text-align:left;width:25%}
.fc-header-center{text-align:center}
.fc-header-right{text-align:right;width:25%}
.fc-header-title{display:inline-block;vertical-align:top}
.fc-header-title h2{margin-top:0;white-space:nowrap}
.fc .fc-header-space{padding-left:10px}
.fc-header .fc-button{margin-bottom:1em;margin-right:-1px;vertical-align:top}
.fc-header .fc-corner-right{margin-right:1px}
.fc-header .ui-corner-right{margin-right:0}
.fc-header .fc-state-hover,.fc-header .ui-state-hover{z-index:2}
.fc-header .fc-state-down{z-index:3}
.fc-header .fc-state-active,.fc-header .ui-state-active{z-index:4}
.fc-content{clear:both}
.fc-view{overflow:hidden;width:100%}
.fc-widget-header,/* <th>,usually */
.fc-widget-content{border:1px solid #ccc}
.fc-state-highlight{background:#ffc}
.fc-cell-overlay{background:#9cf;filter:alpha(opacity=20);opacity:.2}
.fc-button{cursor:pointer;display:inline-block;position:relative}
.fc-state-default{border-style:solid;border-width:1px 0}
.fc-button-inner{float:left;overflow:hidden;position:relative}
.fc-state-default .fc-button-inner{border-style:solid;border-width:0 1px}
.fc-button-content{float:left;height:1.9em;line-height:1.9em;padding:0 .6em;position:relative;white-space:nowrap}
.fc-button-content .fc-icon-wrap{float:left;position:relative;top:25%}
.fc-button-content .ui-icon{float:left;margin-top:0;position:relative;top:-25%}
.fc-state-default .fc-button-effect{left:0;position:absolute;top:50%}
.fc-state-default .fc-button-effect span{background:#444;border-color:#fff;border-style:solid;border-width:100px 0 0 1px;filter:alpha(opacity=9);height:100px;left:0;opacity:.09;position:absolute;top:-100px;width:500px}
.fc-state-default,.fc-state-default .fc-button-inner{background:#F3F3F3;border-color:#ccc #bbb #aaa;border-style:solid;color:#000}
.fc-state-hover,.fc-state-hover .fc-button-inner{border-color:#999}
.fc-state-down,.fc-state-down .fc-button-inner{background:#777;border-color:#555}
.fc-state-active,.fc-state-active .fc-button-inner{background:#777;border-color:#555;color:#fff}
.fc-state-disabled,.fc-state-disabled .fc-button-inner{border-color:#ddd;color:#999}
.fc-state-disabled .fc-button-effect{display:none}
.fc-event{border-style:solid;border-width:0;cursor:pointer;font-size:.9em}
a.fc-event,.fc-event-draggable{cursor:pointer}
a.fc-event{text-decoration:none}
.fc-event-disabled{opacity:0.3;cursor:not-allowed}
.fc-rtl .fc-event{text-align:right}
.fc-event-skin{background-color:#36c;border-color:#36c;color:#fff}
.fc-event-inner{border-style:solid;border-width:0;height:100%;position:relative;width:100%}
.fc-event-time,.fc-event-title{padding:0 1px}
.fc .ui-resizable-handle{display:block;font-size:300%;line-height:50%;overflow:hidden;position:absolute;z-index:99999}
.fc-event-hori{border-width:1px 0;margin-bottom:1px}
.fc-event-hori .ui-resizable-e{cursor:e-resize;height:100%!important;right:-3px!important;top:0!important;width:7px!important}
.fc-event-hori .ui-resizable-w{cursor:w-resize;height:100%!important;left:-3px!important;top:0!important;width:7px!important}
.fc-event-hori .ui-resizable-handle{_padding-bottom:14px}
.fc-corner-left{margin-left:1px}
.fc-corner-left .fc-button-inner,.fc-corner-left .fc-event-inner{margin-left:-1px}
.fc-corner-right{margin-right:1px}
.fc-corner-right .fc-button-inner,.fc-corner-right .fc-event-inner{margin-right:-1px}
.fc-corner-top{margin-top:1px}
.fc-corner-top .fc-event-inner{border-top-width:1px;margin-top:-1px}
.fc-corner-bottom{margin-bottom:1px}
.fc-corner-bottom .fc-event-inner{border-bottom-width:1px;margin-bottom:-1px}
.fc-corner-left .fc-event-inner{border-left-width:1px}
.fc-corner-right .fc-event-inner{border-right-width:1px}
table.fc-border-separate{border-collapse:separate}
.fc-border-separate th,.fc-border-separate td{border-width:1px 0 0 1px}
.fc-border-separate th.fc-last,.fc-border-separate td.fc-last{border-right-width:1px}
.fc-border-separate tr.fc-last th,.fc-border-separate tr.fc-last td{border-bottom-width:1px}
.fc-border-separate tbody tr.fc-first td,.fc-border-separate tbody tr.fc-first th{border-top-width:0}
.fc-grid th{text-align:center}
.fc-grid .fc-day-number{float:right;padding:0 2px}
.fc-grid .fc-other-month .fc-day-number{filter:alpha(opacity=30);opacity:0.3}
.fc-grid .fc-day-content{clear:both;padding:2px 2px 1px}
.fc-grid .fc-event-time{font-weight:700}
.fc-rtl .fc-grid .fc-day-number{float:left}
.fc-rtl .fc-grid .fc-event-time{float:right}
.fc-agenda table{border-collapse:separate}
.fc-agenda-days th{text-align:center}
.fc-agenda .fc-agenda-axis{font-weight:400;padding:0 4px !important;text-align:right;vertical-align:middle;white-space:nowrap;width:50px}
.fc-agenda .fc-day-content{padding:2px 2px 1px !important}
.fc-agenda-days .fc-agenda-axis{border-right-width:1px}
.fc-agenda-days .fc-col0{border-left-width:0}
.fc-agenda-allday th{border-width:0 1px}
.fc-agenda-allday .fc-day-content{_height:34px;min-height:34px}
.fc-agenda-divider-inner{height:2px;overflow:hidden}
.fc-widget-header .fc-agenda-divider-inner{background:#eee}
.fc-agenda-slots th{border-width:1px 1px 0}
.fc-agenda-slots td{background:none;border-width:1px 0 0}
.fc-agenda-slots td div{height:20px}
.fc-agenda-slots tr.fc-slot0 th,.fc-agenda-slots tr.fc-slot0 td{border-top-width:0}
.fc-agenda-slots tr.fc-minor th,.fc-agenda-slots tr.fc-minor td{border-top-style:dotted}
.fc-agenda-slots tr.fc-minor th.ui-widget-header{border-top-style:solid}
.fc-event-vert{border-width:0 1px}
.fc-event-vert .fc-event-head,.fc-event-vert .fc-event-content{overflow:hidden;position:relative;width:100%;z-index:2}
.fc-event-vert .fc-event-time{font-size:10px;white-space:nowrap}
.fc-event-vert .fc-event-bg{background:#fff;filter:alpha(opacity=30);height:100%;left:0;opacity:.3;position:absolute;top:0;width:100%;z-index:1}
.fc .ui-draggable-dragging .fc-event-bg,/* todo: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg{display:none}
.fc-event-vert .ui-resizable-s{bottom:0!important;cursor:s-resize;font-family:monospace;font-size:11px!important;height:8px!important;line-height:8px!important;overflow:hidden!important;text-align:center;width:100%!important}
.fc-agenda .ui-resizable-resizing{_overflow:hidden}

div.time-picker{background:#fff;border:1px solid #aaa;height:191px;margin:0;overflow:auto;position:absolute;width:6em;z-index:1002}
div.time-picker-12hours{width:7em}
div.time-picker ul{list-style-type:none;margin:0;padding:0}
div.time-picker li{cursor:pointer;height:10px;margin:0;padding:4px 3px}
div.time-picker li.selected{background:#0063CE;color:#fff}

form .aec_form{font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif}
.aec_form .edit{width:25em}
.aec_form table{border-spacing:0}
.aec_form tr.header{background:#eee}
.aec_form td{padding:5px;margin:0}

.aec_form li{float:left;margin:2px 0 0!important;width:100%}
.aec_form ul{height:1%;list-style:none;margin:0;overflow:hidden;padding:5px 5px 0 0}
.aec_form fieldset{display:block;margin-bottom:10px}
.aec_form em{color:red}
.aec_form .picker{cursor:pointer;background:#fff}
.aec_form{list-style:none;margin:0}
.aec_form label{font-size:12px;display:inline;float:left;padding:5px 5px 3px 0;width:100px}
.aec_form label.box{padding:0 0 0 5px;width:auto}
.aec_form li ul li{border-bottom:0 solid red}
.aec_form input{display:inline;padding:0.4em;width:25em}
.aec_form .auto{width:auto}
.aec_form .wide{width:32em}
.aec_form .semi{width:15em}
.aec_form .aec-error{background-color:#ff6}
.aec_form select{color:#333;display:inline;float:left;width:25em}
.aec_form textarea{color:#333;display:inline;float:left;height:6.5em;resize:none;width:25em}
.aec_form input[type=radio]{border:0;width:auto;float:left}
.aec_form input[type=checkbox]{border:0;width:auto;float:left}
.aec_form li.buttons{text-align:right}
.aec_form li.buttons input{float:none;width:auto}
.vvv li{clear:both;display:block;width:100%}
.vvv label{clear:both;display:block;float:none;width:100%}
.vvv input{display:block;float:left}
.vvv select{display:block;float:left}
.vvv textarea{display:block;float:left}
.hvv{height:1%;overflow:hidden;padding:0 !important}
.hvv li{clear:none;display:inline;float:left;margin-right:10px;width:auto}
.hvv li.cb{clear:both}
.hvv label{display:block;float:none;width:auto;padding:1px 0 0 3px}
.hvv label.box{float:left;display:inline;padding:5px 0;vertical-align:top;white-space:nowrap}
.hvv input[type=checkbox]{margin:5px}
.hvv input{display:block;float:left}
.hvv select{display:block}
.hvv textarea{display:block}
.hii{height:1%;overflow:hidden}
.hii li{border-bottom:0;display:inline;float:left;margin-right:10px;width:auto}
.hii label{display:inline;margin-right:0;text-align:left;vertical-align:middle;width:auto}
.hii input{display:inline;vertical-align:middle}
.hii select{display:inline;vertical-align:middle}
.hii textarea{display:inline;vertical-align:middle}
.hii li li{clear:both}
.hhh{height:1%;overflow:hidden}
.hhh li{border-bottom:0;display:inline;float:left;margin-right:10px;width:auto}
.hhh label{float:left;width:100px}
.hhh input{float:left}
.hhh select{float:left}
.hhh textarea{float:left}
.hhh li li{clear:both}
.vii{display:inline;float:left;width:auto}
.vii li{clear:both;display:block;float:left;width:auto}
.vii label{display:inline;float:none;vertical-align:middle;width:auto}
.vii input{display:inline;float:none;vertical-align:middle}
.vii select{display:inline;float:none;vertical-align:middle}
.vii textarea{display:inline;float:none;vertical-align:middle}
.vhh{display:inline;float:left}
.vhh li{border-bottom:3px solid #efefef;clear:both;display:block;float:left;width:auto}
.vhh label{display:inline;float:left;width:100px}
.vhh input{display:inline;float:left}
.vhh select{display:inline;float:left}
.vhh textarea{display:inline;float:left}
label.v{display:block;float:none;padding:3px;text-align:left;width:auto}
label.h{display:inline;float:left;width:auto}
.multiselect{background-color:#FFF;border:0 inset #ccc;float:left;height:200px;overflow:auto;padding:0;width:200px}
.multiselect .aec_form{border:0;height:auto;margin:0;padding:0}
.multiselect .vhh{margin:0;padding:0}
.multiselect .vhh input{float:left}
.multiselect .vhh label{clear:none;display:block;float:none;margin-left:20px;width:auto}
.multiselect .vhh li{overflow:hidden;width:100%}
.multiselect .vii li{width:100%}
.aec_form input.noborder{border:0}
.required{color:red}
.leftnote{color:#F93;float:left;padding:3px 5px 0}
.bottomnote{clear:both;color:#F93;display:block;padding:0}
.aec_form label span {display:block}
.tar label{text-align:right}
.fl{float:left}
.fr{float:right}
.cb{clear:both}
.w100p{width:100%}
.mr20{margin-right:20px}
.ml20{margin-left:20px}
.offset1{margin-left:130px}
.offset2{margin-left:105px}

div.jGrowl{color:#fff;font-size:12px;padding:10px;position:absolute;z-index:9999}
div.jGrowl{position:absolute}
body > div.jGrowl{position:fixed}
div.jGrowl.top-left{left:0;top:0}
div.jGrowl.top-right{right:0;top:0}
div.jGrowl.bottom-left{bottom:0;left:0}
div.jGrowl.bottom-right{bottom:0;right:0}
div.jGrowl.center{left:25%;top:0;width:50%}
div.center div.jGrowl-notification,div.center div.jGrowl-closer{margin-left:auto;margin-right:auto}
div.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{-moz-border-radius:5px;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);-webkit-border-radius:5px;background-color:#000;display:none;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:1em;margin-bottom:5px;margin-top:5px;opacity:.85;padding:10px;text-align:left;width:235px;zoom:1}
div.jGrowl div.jGrowl-notification{color:#fff;min-height:40px}
div.jGrowl div.jGrowl-notification div.jGrowl-header{font-size:.85em;font-weight:700}
div.jGrowl div.jGrowl-notification div.jGrowl-close{cursor:pointer;float:right;font-size:1em;font-weight:700;z-index:9999}
div.jGrowl div.jGrowl-closer{cursor:pointer;font-size:.9em;font-weight:700;padding-bottom:4px;padding-top:4px;text-align:center}

.miniColors-trigger{height:24px;width:25px;background:url(images/arrow.gif) center no-repeat;vertical-align:middle;margin:0 .25em;display:inline-block;outline:none}
.miniColors-selector{position:absolute;width:175px;height:150px;background:#FFF;border:solid 1px #BBB;-moz-box-shadow:0 0 6px rgba(0, 0, 0, .25);-webkit-box-shadow:0 0 6px rgba(0, 0, 0, .25);box-shadow:0 0 6px rgba(0, 0, 0, .25);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:5px;z-index:999999}
.miniColors-selector.black{background:#000;border-color:#000}
.miniColors-colors{position:absolute;top:5px;left:5px;width:150px;height:150px;background:url(images/gradient.png) center no-repeat;cursor:crosshair}
.miniColors-hues{position:absolute;top:5px;left:160px;width:20px;height:150px;background:url(images/rainbow.png) center no-repeat;cursor:crosshair}
.miniColors-colorPicker{position:absolute;width:11px;height:11px;background:url(images/circle.gif) center no-repeat}
.miniColors-huePicker{position:absolute;left:-3px;width:26px;height:3px;background:url(images/line.gif) center no-repeat}

@media print{
div.jGrowl{display:none}
.fc-event-hori{border-bottom-color:#000!important;border-bottom-style:dotted!important;border-width:0 0 1px!important;padding:1px 0 0!important}
.fc-event-hori .fc-event-inner{border-width:0!important;padding:0 1px!important}
.fc-event-vert{border-left-color:#000!important;border-left-style:dotted!important;border-width:0 0 0 1px !important;padding:0 1px 0 0 !important}
.fc-event-vert .fc-event-inner{border-width:0!important;padding:1px 0!important}.fc-event-bg{display:none!important}
.fc-event .ui-resizable-handle{display:none!important}
}