.cat1,.cat1 .fc-event-skin,.fc-agenda .cat1,a.cat1,a.cat1:hover,a.cat1:active,a.cat1:visited{color:#FFFFFF;background-color:#517ed6;border-color:#517ed6}
.cat2,.cat2 .fc-event-skin,.fc-agenda .cat2,a.cat2,a.cat2:hover,a.cat2:active,a.cat2:visited{color:#FFFFFF;background-color:#e3686c;border-color:#e3686c}
.cat3,.cat3 .fc-event-skin,.fc-agenda .cat3,a.cat3,a.cat3:hover,a.cat3:active,a.cat3:visited{color:#FFFFFF;background-color:#8fc9b0;border-color:#8fc9b0}
